.side-bar
  .side-bar__header
    .side-bar-box
      .side-bar-box__user-name
      = current_user.name
      .icon
        .edit__btn--icon
        = link_to new_group_path do
          = icon('far', 'edit', class: "edit__btn--icon")
        .new__btn--icon
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "new__btn--icon")
  .side-bar__group-list
    .groups
      .groups__group-list
        グループリスト
      .groups__group-message
        メッセージトップ
    .groups
      .groups__group-list
        グループリスト
      .groups__group-message
        メッセージトップ
    .groups
      .groups__group-list
        グループリスト
      .groups__group-message
        メッセージトップ
    